# openacd test generator config

# web
web.login_uri = http://oacdlt.3zuce.com/openacd/login
web.wsock_uri = ws://oacdlt.3zuce.com:8936/wsock

# sip
sip.domain = oacdlt.3zuce.com
sip.outbound_proxy = 
sip.local_inet_address =
sip.public_inet_address =
sip.playback_file =

# lines (comma separated)
lines = 90

# agent extensions
agent.ext.start = 1001
agent.ext.end = 1001
agent.password = password
agent.sip_password = 1234

# supervisor extensions
supervisor.ext.start = 1002
supervisor.ext.end = 1002
supervisor.password = password
supervisor.sip_password = 1234

# caller extensions
caller.ext.start = 1099
caller.ext.end = 1099
caller.sip_password = 1234

# ms delay before an agent picks up a ringing call
agent.ans.min = 500
agent.ans.max = 1000

# ms delay into the call before an agent initiates the hangup
# (only applies when the caller hasn't hang up yet)
agent.call.min = 3000
agent.call.max = 10000

# ms into the call when the caller initiates the hangup
# this is inclusive of the wait time and actual
# conversation with the agent
caller.call.min = 10000
caller.call.max = 20000

# ms delay before a caller goes into another call
# after the previous one is complete
caller.idle.min = 1000
caller.idle.max = 2000
